In [379]:
import pandas as pd

In [380]:
# Reading the csv file
df = pd.read_csv('Downloads/EventHistory.csv')

In [381]:
df

         DATE  CUSTOMER_ACCOUNT_ID    EVENT_TYPE
0  2015-01-01     joe@signifyd.com      PURCHASE
1  2015-02-01  fraudster@fraud.com  FRAUD_REPORT
2  2015-02-03  fraudster@fraud.com  FRAUD_REPORT
3  2015-02-10     joe@signifyd.com      PURCHASE
4  2015-02-14  fraudster@fraud.com      PURCHASE
5  2015-03-15     joe@signifyd.com      PURCHASE
6  2015-05-01     joe@signifyd.com      PURCHASE
7  2015-10-01     joe@signifyd.com      PURCHASE

In [382]:
# Changing the first purchase's value to NO_HISTORY
# Since no purchases were made before the first purchase
df['EVENT_TYPE'].iat[0] = 'NO_HISTORY'

In [383]:
# creating a variable for counter
count = 0
# creating a for loop to iterate over all the records
# changes values to UNCONIRMED_HISTORY along with the count of prior purchases
for i in range(1,8):
    
    if df['EVENT_TYPE'].iat[i] == 'PURCHASE' and df['CUSTOMER_ACCOUNT_ID'].iat[i] != 'fraudster@fraud.com':
        count = count + 1
        df['EVENT_TYPE'].iat[i] = 'UNCONFIRMED_HISTORY: ' + str(count)

In [384]:
df

         DATE  CUSTOMER_ACCOUNT_ID              EVENT_TYPE
0  2015-01-01     joe@signifyd.com              NO_HISTORY
1  2015-02-01  fraudster@fraud.com            FRAUD_REPORT
2  2015-02-03  fraudster@fraud.com            FRAUD_REPORT
3  2015-02-10     joe@signifyd.com  UNCONFIRMED_HISTORY: 1
4  2015-02-14  fraudster@fraud.com                PURCHASE
5  2015-03-15     joe@signifyd.com  UNCONFIRMED_HISTORY: 2
6  2015-05-01     joe@signifyd.com  UNCONFIRMED_HISTORY: 3
7  2015-10-01     joe@signifyd.com  UNCONFIRMED_HISTORY: 4

In [385]:
# creating a variable for counter
count = 0
Date1 = int(df['DATE'][0][5:7])
# For purchases that are older than 90 days
# the event type will be changed to GOOD_HISTORY along with the count of records
# creating a for loop to iterate over all the records
for i in range(2,8):
    Date2 = int(df['DATE'][i][5:7])
    
    if Date2-Date1 > 3:
        count = count + 1
        string = str(count)
        df['EVENT_TYPE'].iat[i] = 'GOOD_HISTORY: ' + string

In [386]:
df

         DATE  CUSTOMER_ACCOUNT_ID              EVENT_TYPE
0  2015-01-01     joe@signifyd.com              NO_HISTORY
1  2015-02-01  fraudster@fraud.com            FRAUD_REPORT
2  2015-02-03  fraudster@fraud.com            FRAUD_REPORT
3  2015-02-10     joe@signifyd.com  UNCONFIRMED_HISTORY: 1
4  2015-02-14  fraudster@fraud.com                PURCHASE
5  2015-03-15     joe@signifyd.com  UNCONFIRMED_HISTORY: 2
6  2015-05-01     joe@signifyd.com         GOOD_HISTORY: 1
7  2015-10-01     joe@signifyd.com         GOOD_HISTORY: 2

In [387]:
# creating a variable for counter
count = 0
# creating a for loop to iterate over all the records
# changes the event type to FRAUD_HISTORY: (count of reports) for all the fraud reports
for i in range(1,8):
    
    if df['EVENT_TYPE'][i] == 'FRAUD_REPORT':
        count = count + 1
        string = str(count)
        df['EVENT_TYPE'].iat[i] = 'FRAUD_HISTORY: ' + string

In [388]:
df

         DATE  CUSTOMER_ACCOUNT_ID              EVENT_TYPE
0  2015-01-01     joe@signifyd.com              NO_HISTORY
1  2015-02-01  fraudster@fraud.com        FRAUD_HISTORY: 1
2  2015-02-03  fraudster@fraud.com        FRAUD_HISTORY: 2
3  2015-02-10     joe@signifyd.com  UNCONFIRMED_HISTORY: 1
4  2015-02-14  fraudster@fraud.com                PURCHASE
5  2015-03-15     joe@signifyd.com  UNCONFIRMED_HISTORY: 2
6  2015-05-01     joe@signifyd.com         GOOD_HISTORY: 1
7  2015-10-01     joe@signifyd.com         GOOD_HISTORY: 2

In [389]:
# creating a list to store the string values for 'FRAUD_HISTORY : (count)'
stringevent = []
for i in range(1, 8):
    if search("FRAUD_HISTORY", df['EVENT_TYPE'].iat[i]):
        print(df['EVENT_TYPE'].iat[i])
        stringevent.append(df['EVENT_TYPE'].iat[i])

FRAUD_HISTORY: 1
FRAUD_HISTORY: 2

In [390]:
# creating a list to store the index values for records that contain the string
# FRAUD_HISTORY
indexlist = []
for i in range(1,8):
    if search("FRAUD_HISTORY", df['EVENT_TYPE'].iat[i]):
        #df.iat[i].drop(axis=0, inplace=True)
        indexlist.append(i)

In [391]:
# printing out the indices
for x in range(len(indexlist)):
    print(indexlist[x])

1
2

In [392]:
df

         DATE  CUSTOMER_ACCOUNT_ID              EVENT_TYPE
0  2015-01-01     joe@signifyd.com              NO_HISTORY
1  2015-02-01  fraudster@fraud.com        FRAUD_HISTORY: 1
2  2015-02-03  fraudster@fraud.com        FRAUD_HISTORY: 2
3  2015-02-10     joe@signifyd.com  UNCONFIRMED_HISTORY: 1
4  2015-02-14  fraudster@fraud.com                PURCHASE
5  2015-03-15     joe@signifyd.com  UNCONFIRMED_HISTORY: 2
6  2015-05-01     joe@signifyd.com         GOOD_HISTORY: 1
7  2015-10-01     joe@signifyd.com         GOOD_HISTORY: 2

In [393]:
# dropping rows using the index values
# that were obtained from the previous for loop
# these rows contain the string "FRAUD_HISTORY: "
df = df.drop(labels=[1,2], axis=0)

In [394]:
df

         DATE  CUSTOMER_ACCOUNT_ID              EVENT_TYPE
0  2015-01-01     joe@signifyd.com              NO_HISTORY
3  2015-02-10     joe@signifyd.com  UNCONFIRMED_HISTORY: 1
4  2015-02-14  fraudster@fraud.com                PURCHASE
5  2015-03-15     joe@signifyd.com  UNCONFIRMED_HISTORY: 2
6  2015-05-01     joe@signifyd.com         GOOD_HISTORY: 1
7  2015-10-01     joe@signifyd.com         GOOD_HISTORY: 2

In [397]:
# this contains the last value of the list
# the list value is the most recent count for FRAUD_HISTORY
stringevent[-1]

'FRAUD_HISTORY: 2'

In [395]:
for i in range(len(df)):
    
    if df['CUSTOMER_ACCOUNT_ID'].iat[i] == 'fraudster@fraud.com' and df['EVENT_TYPE'].iat[i] == 'PURCHASE':
        # obtaining the most recent count value for FRAUD_HISTORY
        # from the stringevent index list
        # that contains the list of index values
        # changing the value to the most recent value
        df['EVENT_TYPE'].iat[i] = stringevent[-1]

In [396]:
df

         DATE  CUSTOMER_ACCOUNT_ID              EVENT_TYPE
0  2015-01-01     joe@signifyd.com              NO_HISTORY
3  2015-02-10     joe@signifyd.com  UNCONFIRMED_HISTORY: 1
4  2015-02-14  fraudster@fraud.com        FRAUD_HISTORY: 2
5  2015-03-15     joe@signifyd.com  UNCONFIRMED_HISTORY: 2
6  2015-05-01     joe@signifyd.com         GOOD_HISTORY: 1
7  2015-10-01     joe@signifyd.com         GOOD_HISTORY: 2